h3 {
    text-align: center ;
}

.caja{
    width: 25%;
    height: 45%;
    padding: 5%;
    margin: 20px;
    background-color: gainsboro;
    /* border-radius: 5%; */

}

.card {
    margin: 10%;
}

#formLogin {
    /*
    border: 1px solid red;
     border-radius: 5%; 
     */
    color: rgb(5, 44, 101); 
    border-radius: 4px;
    border: solid 1px rgb(158, 197, 254);
    margin: 10px;
    padding: 10px;
}



.w-33 > #btnLogin{
    width: 33.33%;
    align-self: center;
}

h4 {
    color: aqua;
}


